.container {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-color: red;
    padding: 40px;
}

.logo {
    height: 25px;
    padding-bottom: 10px;
}

.display {
    display: flex;
    height: 40px;
    border-radius: 10px;
    background-color: silver;
    color: white;
    margin-bottom: 6px;
    padding: 0 5px;
    flex-direction: row-reverse;
    align-items: center;

}

